@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #122e3b, #001721);
  }

  section#login {
    width: 80vw;
  }

  section#login div#image {
    float: left;
    width: 30%;
    height: 100%;
  }

  section#login div#form {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #0e2631, #001721);
  }

  section#login {
    width: 950px;
  }

  section#login div#image {
    float: left;
    width: 50%;
    height: 100%;
  }
}
