@charset "utf-8";

/* Paleta de cores 

    Verde: #49a09d
    Azuls: #001721 
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #342624;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  
  background-color: white;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

section#login div#image {
  display: block;
  background: #342624 url('../images/building.jpg') no-repeat center center;
  background-size: cover;
  height: 200px;
}

section#login div#form {
  display: block;
  padding: 10px;
}

div#form h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#form p {
  font-size: 0.8em;
}

div.campo label {
  display: none;
}

form div.campo {
  display: block;
  border: 2px solid black;
  width: 100%;
  height: 40px;

  background-color: black;
  border-radius: 8px;
  margin: 5px 0;
}

div.campo span {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: #342624de;
  font-size: 1em;
  width: calc(100% - 45px);
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-13px);
}

div.campo input:focus-within {
  background-color: white;
}

form input[type=submit] {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1em;
  background-color: black;
  color: white;
}

form input[type=submit]:hover {
  background-color: #3a2b29c8;
}

form a.button {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #001721;
  border-radius: 7px;
  padding-top: 5px;
  margin-top: 5px;

  text-align: center;
  text-decoration: none;
  font-size: 1em;

  background-color: white;
  color: #001721;
}

form a.button:hover {
  background-color: #342624;
  font-weight: bold;
  color: #634a49cf;
}

form a.button span {
  font-size: 0.8em;
}
