@charset "utf-8";

/* Paleta de cores 

    Verde: #49a09d
    Azuls: #001721 
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #001721;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

section#login {
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login div#image {
  display: block;
  background: #001721 url('../images/building.jpg') no-repeat top center;
  background-size: cover;
  height: 200px;
}

section#login div#form {
  display: block;
  padding: 10px;
}
