@charset "utf-8";

/* Paleta de cores 

    Verde: #49a09d
    Azuls: #001721 
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #001721;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

section#login {
  background-color: white;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login div#image {
  display: block;
  background: #001721 url('../images/building.jpg') no-repeat top center;
  background-size: cover;
  height: 200px;
}

section#login div#form {
  display: block;
  padding: 10px;
}

div#form h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#form p {
  font-size: 0.8em;
}

div.campo label {
  display: none;
}

form div.campo {
  background-color: #001721;
  border-radius: 5px;
  margin: 5px 0;
}

form input[type=submit] {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1em;
  background-color: #00293aec;
  color: white;
}

form input[type=submit]:hover {
  background-color: #001721;
}

form a.button {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #001721;
  border-radius: 5px;
  padding-top: 7px;
  margin-top: 5px;

  text-align: center;
  text-decoration: none;

  background-color: white;
  color: #001721;
}

form a.button:hover {
  background-color: #045276f5;
}
